body{
  text-align: center;
  background-color:palegoldenrod;
  font-size: x-large
}
.thumbnails {
  float: left;
  width: 14em;
  height: 13em;
}
.thumbnails{
  border: 3px solid black;
}
.thumbnails{
  margin: 5px;
  padding: 3px;
}
img{
  margin-top: 1em;
}
figcaption {
  color: black;
  font-size: 1.5em
}