/*estilos para la pagina pricipal*/
div#cabecera h1{
	margin: 0;
	padding-top: .3em;
	padding-bottom: .3em;
}
div#cabecera h1{
	background-color: bisque;
	text-align: center;
}
/*Estilos para el contenedor*/
div#contenedor{
	width: 90%;
	margin: 10px auto;
}
div#contenedor{ 
	border: 1px solid black;
	background-color:rgb(46, 45, 45);
}
/*Estilos para la navegacion izquierda(menu)*/
div#navegacioniz{
	float: left;
	width: 190px;
}
div#navegacioniz{
	margin: 0;
	padding: 1em;
}
/*Estilos para el contenido*/
div#contenido{
	margin-left: 210px;
	border-left: 1px solid white;
	color: white;
}
div#contenido{
	padding: 1em;
}


/*estilos para la navegacion izquierda(menu)*/
div#navegacioniz ul{
	list-style-type: none;
}
div#navegacioniz ul { 
	padding: 0;
	margin: 0;
} 
div#navegacioniz a { 
	display: block; 
}
div#navegacioniz a{
	width: 8em;
	padding: .1em .6em;
}
div#navegacioniz a{
	text-decoration: none;
}
#navegacioniz li {  
	margin: 0 0 .4em 0;     
} 
div#navegacioniz {
	font-size: 1.2em;
}
div#navegacioniz a {
	color: black;
	background-color: bisque;
}
/*Estilos del pie*/
div#pie{
	border-top: 1px solid white;
}
div#pie{
	text-align: center;
	color: white;
}
/*Estilos para el cotenido del minisitio*/
div#contenido .content img{ 
	float: left; 
}
div#contenido .content img{
	margin-right: 2.5em;
	padding-top: 1em;
}
div#contenido p{
	text-align: justify;
	font-size: 1.3em;
}
div#contenido .contents h2{
	margin-top: 7em;
	padding-top: .5em; 
	padding-bottom: .5em;
}
div#contenido .contents h2{
	background-color: white;
	text-align: center;
	color: black;
}
div#contenido .contents img{
	margin-left: 3em;
	margin-right: 3em;
}