/*estilos para la pagina pricipal*/
div#cabecera h1{
	margin: 0;
	padding-top: .3em;
	padding-bottom: .3em;
}
div#cabecera h1{
	background-color: bisque;
	text-align: center;
}
/*Estilos para el contenedor*/
div#contenedor{
	width: 90%;
	margin: 10px auto;
}
div#contenedor{ 
	border: 1px solid black;
	background-color:rgb(46, 45, 45);
}
/*Estilos para la navegacion izquierda(menu)*/
div#navegacioniz{
	float: left;
	width: 190px;
}
div#navegacioniz{
	margin: 0;
	padding: 1em;
}
/*Estilos para el contenido*/
div#contenido{
	margin-left: 210px;
	border-left: 1px solid white;
	color: white;
}
div#contenido{
	padding: 1em;
}
/*estilos para la navegacion izquierda(menu)*/
div#navegacioniz ul{
	list-style-type: none;
}
div#navegacioniz ul { 
	padding: 0;
	margin: 0;
} 
div#navegacioniz a { 
	display: block; 
}
div#navegacioniz a{
	width: 8em;
	padding: .1em .6em;
}
div#navegacioniz a{
	text-decoration: none;
}
#navegacioniz li {  
	margin: 0 0 .4em 0;     
} 
div#navegacioniz {
	font-size: 1.2em;
}
div#navegacioniz a {
	color: black;
	background-color: bisque;
}
/*Estilos del pie*/
div#pie{
	border-top: 1px solid white;
}
div#pie{
	text-align: center;
	color: white;
}
/*Estilos para ell contenido de primer plato*/
div#contenido h2{
	text-align: center;
	font-size: 2em;
}
div#contenido h3{
	text-align: center;
	font-size: 2em;
}
div#contenido p{
	font-size: 1.2em;
}
div#contenido li{
	font-size: 1.2em;
}
div#contenido .anuncio {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	padding-top: 1em;
}
div#contenido .anuncio img{
	float: left;
	margin-right: 2.5em;
	margin-left: 2.5em;
}
div#contenido .anuncio{
    padding-bottom: 5em;
}
div#contenido .anuncio a{
    display: block;
    margin-top: 1em;
}
div#contenido .anuncio a{
	color: blue;
	font-size: 1.5em;
}
div#contenido .uno img{
    float: left;
    margin-right: 2em;
}
div#contenido .uno ul li{
    margin-left: 29em;
}
div#contenido .dos img{
	float: right;
	margin-left: 2.5em;
}
div#contenido .dos {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}
div#contenido .dos {
	text-align: justify;
}
div#contenido .tres img{
	float: left;
	margin-right: 2em;
}
div#contenido .tres ul li{
	margin-left: 29em;
}